@model Vidly.ViewModels.CustomersViewModel
@{
    ViewBag.Title = "Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>

@if (Model.Customers == null)
{
    <h3>We dont have any customers.</h3>
}
else
{

    foreach (var customer in Model.Customers)
    {
        <div>
            @Html.ActionLink(customer.Name, "Details", "Customers", new { customer.Id }, null)
        </div>
    }

}


